<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @code.country %>
</p>

<p>
  <strong>Hscode:</strong>
  <%= @code.hscode %>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
